:root {
  --font-family-main: consolas, "Times New Roman", serif;
  --font-line-m: 24px;
  --font-size-m: 16px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-line-l: 32px;
  --font-size-l: 24px;
  --font-l: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --nav-bar-height: 50px;
  --side-bar-width: 300px;
  --side-bar-width-collapsed: 80px;
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --modal-z-index: 10;
  --overlay-color: rgba(0 0 0 / 60%);
}
