.BIG {
  width: 100%;

  .views {
    margin-left: auto;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin: 16px 0;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .textBlock {
    max-height: 200px;
    overflow-y: hidden;
  }
}

.SMALL {
  width: 230px;
  transition: 0.2s;
  cursor: pointer;
  display: block;

  .imgWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .date {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .types p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
  }

  .title p {
    width: 200px;
    margin-right: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
